body {
  font-family: Arial;
}

li {
  list-style: none;
  margin: 5px;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

title {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.comment {
  border: 1px solid #808080;
  color: #707070;

}

.post {
  padding: 10px;
  border: 1px solid #808080;
  margin-bottom: 5px;
}


.button {
  padding: 10px 15px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}
